* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "Cocogoose Shadow";
    src: url("assets/fonts/Cocogoose/Cocogoose-Pro-Block-Shadow-black-Trial.woff") format('woff');
}
@font-face {
    font-family: "Cocogoose Pro Block";
    src: url("assets/fonts/Cocogoose/Cocogoose-Pro-Letterpress-Trial.woff") format('woff');
}

.container-layout {
    max-width: 1440px;
    margin: auto;
}

.container-card {
  background: #FFFFFF;
  padding: 16px;
}
